# Dependencias
node_modules
npm-debug.log
yarn-error.log

# Archivos de desarrollo
.env
.env.local
.env.*.local

# Tests
coverage
.nyc_output
*.spec.ts
test

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# CI/CD
.github
.gitlab-ci.yml

# Documentación
README.md
CHANGELOG.md
LICENSE

# Build (se copiarán desde el stage builder)
dist

# Kubernetes y Docker
k8s
helm
Dockerfile
.dockerignore
docker-compose.yml
